@import "../../App.scss";

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
  margin-top: 5rem;

  &__subtitle {
    font-size: 2rem;
    font-weight: 300;
    color: $color-light;
  }

  &__title {
    font-size: 5rem;
    font-weight: 700;
    color: $color-primary;
    text-shadow: 3px 1px 0px $color-primary-variant;
    letter-spacing: 3px;
    position: relative;

    &::before {
      content: "";
      width: 3rem;
      height: 0.4rem;
      background: $color-primary;
      position: absolute;
      left: -6rem;
      bottom: 0;
      top: 0;
      margin: auto 0;
      border-radius: 2rem;
    }

    &::after {
      content: "";
      width: 3rem;
      height: 0.4rem;
      background: $color-primary;
      position: absolute;
      right: -6rem;
      bottom: 0;
      top: 0;
      margin: auto 0;
      border-radius: 2rem;
    }
  }
}
